#page {
  /* width: 100%; */
  /* height: 700px; */
  background-color: #e1ddd2;
  padding-bottom: 60px;
}

#wrap {
	width: 540px;
  height: 470px;
	margin: 0 auto;
  background-image: url("../images/blue-screen-hd.png");
  background-repeat: no-repeat;
  position: relative;
}

.screen {
  width: 20%;
  margin-left: 25%;
  margin-right: 25%;
}

#container {
  display: flex;
  /* align-items: stretch; */
}

.flavors {
  position: absolute;
  top: 60px;
  right: -120px;
}

/* Used for flavors, icings and toppings */
#content {
  width: 460px;
  height: 370px;
  /* background-color: hotpink; */

  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  /*   margin: -200px 0 0 -200px; apply negative top and left margins to truly center the element */
  transform: translate(-50%, -50%);
}

/* GLOBAL */
.atm-voice {
  font-family: Consolas, monaco, monospace;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

img[class*="effect"] {
  cursor: pointer;
}

/* .img-selected {
  border: 1px dashed black;
  margin: 5px;
  padding: 5px;
  border-radius: 60px;
} */

.logo {
  display: block;
  margin: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cupcake-box {
  text-align: center;
  margin: 5px;
}

.cupcake-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrows-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-right {
  position: relative;
  text-align: right;
  top: 51px;
}

.order {
  padding-top: 5px;
  margin: 0 auto;
  width: 500px;
}

.required {
  color: indianred;
}

/* HOMEPAGE */
.start-button {
  position: relative;
  top: 50px;
  left: 120px;
}

/* .start-button:active {
  left: 123px;
  top: 55px;
} */

/* PAYMENT PAGE */
.cancel-button {
  position: absolute;
  bottom: 30px;
  right: 40px;
  z-index: 1;
}

/* SUCCESS PAGE */
.success-gif {
  position: absolute;
  top: 80px;
  left: 110px;
  z-index: 1;
}

/* QUANTITY PAGE */
.buttons-container {
  position: relative;
}

.accept-button {
  position: absolute;
  bottom: 50px;
  left: 170px;
  z-index: 1;
}

/* footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
	background: rgba(0,0,0,0.1);
}

footer a:link {
	position: absolute;
	font-family: Arial, sans-serif;
	color: #5f5f5f;
	letter-spacing: 2px;
	font-size: 14px;
	top: 18px;
	padding-left: 5px;
	text-decoration: none;
}

footer a:hover {
	color: #7ccd24;
}

footer a:visited {
	color: #4f4f4f;
} */

/* #home {
	left: 30px;
	border-left: 13px solid #ff9933;
}

#blog {
	left: 120px;
	border-left: 13px solid #8b00e0;
} */

.grow {
	z-index: 30;
	-webkit-animation: grow 2s;
	-moz-animation: grow 2s;
	-ms-animation: grow 2s;
	animation: grow 2s;
}

/* Webkit Animations */

@-webkit-keyframes grow {
	0% { -webkit-transform: scale(1); }
	75% { -webkit-transform: scale(2.5); }
	90% { -webkit-transform: scale(0.6); }
	93% { -webkit-transform: scale(1.4); }
	95% { -webkit-transform: scale(0.8); }
	97% { -webkit-transform: scale(1.2); }
	100% { -webkit-transform: scale(1); }
}

/* Moz Animations */

@-moz-keyframes grow {
	0% { -moz-transform: scale(1); }
	75% { -moz-transform: scale(2.5); }
	90% { -moz-transform: scale(0.6); }
	93% { -moz-transform: scale(1.4); }
	95% { -moz-transform: scale(0.8); }
	97% { -moz-transform: scale(1.2); }
	100% { -moz-transform: scale(1); }
}

/* Opera Animations */

@-o-keyframes grow {
	0% { -o-transform: scale(1); }
	75% { -o-transform: scale(2.5); }
	90% { -o-transform: scale(0.6); }
	93% { -o-transform: scale(1.4); }
	95% { -o-transform: scale(0.8); }
	97% { -o-transform: scale(1.2); }
	100% { -o-transform: scale(1); }
}

/* MS Animations */

@-ms-keyframes grow {
	0% { -ms-transform: scale(1); }
	75% { -ms-transform: scale(2.5); }
	90% { -ms-transform: scale(0.6); }
	93% { -ms-transform: scale(1.4); }
	95% { -ms-transform: scale(0.8); }
	97% { -ms-transform: scale(1.2); }
	100% { -ms-transform: scale(1); }
}

/* Arbitrary Animations */

@keyframes grow {
    0% { transform: scale(1); }
	75% { transform: scale(2.5); }
	90% { transform: scale(0.6); }
	93% { transform: scale(1.4); }
	95% { transform: scale(0.8); }
	97% { transform: scale(1.2); }
	100% { transform: scale(1); }
}
